# Don't commit binaries
*.a
*.asm
*.dll
*.dylib
*.exe
*.lib
*.out
*.o
*.so
*.so.*
# Clang cache
.cache/
# Exclude editor config
.vscode/
.vs/
# Exclude temporary folders
*.egg-info/
.eggs/
build/
build_cmake/
# Exclude macOS folder attributes
.DS_Store
# Exclude macOS Info.framework.plist
Info.framework.plist
# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
# MuJoCo
MUJOCO_LOG.TXT
MJDATA.TXT
MJMODEL.TXT
# Python
python/dist/

# Python build artifacts
python/mujoco_mpc/mjpc/agent_server
python/mujoco_mpc/mjpc/ui_agent_server
python/mujoco_mpc/mjpc/tasks/
python/mujoco_mpc/proto/agent_pb2.py
python/mujoco_mpc/proto/agent_pb2_grpc.py
python/mujoco_mpc/proto/agent.proto

# uv files
uv.lock
.venv/

# Test files
test_*.py
